* {
    margin: 50px;
}

h1 {
    /* background-color: chocolate; */
}

#heading {
    text-align: center;
}

.luckshan {
    font-size: 70px;
}

h1,
p {
    text-decoration: underline;
}
typography {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    letter-spacing: 0.1px;
    line-height: 20px;
    font-size: 14px;
    color: #928787;
    font-weight: lighter;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.a,
.b,
.c {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    color: #fff;
}

.a {
    transform: rotate(20deg);
}

/* .a {
  transform: rotateX(180deg);
} */

/* .a {
  transform: rotateY(180deg);
} */

.b {
    transform: skewY(20deg);
}

.c {
    transform: scaleY(1.5);
}

.textdec {
    text-decoration: underline;
    /*underline,line-through*/
    text-transform: capitalize;
}

.shadow {
    text-shadow: 2px 2px 2px rgb(54, 211, 101);
    /* x y blur color*/
}

.indent {
    text-indent: 20px;
}

.boxshadow {
    height: 200px;
    width: 200px;
    box-shadow: 2px 2px 5px rgb(2, 175, 243);
    /*x y blur color*/
}